<div id="<%= dom_id employee %>">
  <p>
    <strong>Employee name:</strong>
    <%= employee.employee_name %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= employee.store_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Hire date:</strong>
    <%= employee.hire_date %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= employee.birth_date %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

</div>
