<div id="<%= dom_id store %>">
  <p>
    <strong>Store name:</strong>
    <%= store.store_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= store.phone %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= store.country.country_name%>
  </p>

</div>
