<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer name:</strong>
    <%= customer.customer_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= customer.delivery_address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= customer.country.country_name %>
  </p>

</div>
