<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.collection_select :customer_id,
                  @customers,
                  :id,
                  :customer_name,
                  prompt: "Select a customer" %>  </div>


<div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.collection_select :employee_id,
                  @employees,
                  :id,
                  :employee_name,
                  prompt: "Select an employee" %>  </div>


  <div>
    <%= form.label :order_date, style: "display: block" %>
    <%= form.date_field :order_date %>
  </div>

  <div>
    <%= form.label :delivery_date, style: "display: block" %>
    <%= form.date_field :delivery_date %>
  </div>

  <div>
    <%= form.label :payment_status, style: "display: block" %>
    <%= form.text_field :payment_status %>
  </div>

  <div>
    <%= form.label :delivery_status, style: "display: block" %>
    <%= form.text_field :delivery_status %>
  </div>

  <div>
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
