<div id="<%= dom_id item %>">
  <p>
    <strong>Instrument:</strong>
    <%= item.instrument.instrument_name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= item.model %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= item.manufacturer.manufacturer_name %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= item.serial_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition %>
  </p>

  <p>
    <strong>Production year:</strong>
    <%= item.production_year %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
