<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item), class: "adminbutton" %> |
  <%= link_to "Back to items", items_path, class: "adminbutton" %>

  <%= button_to "Destroy this item", @item, method: :delete, class: "adminbutton" %>
</div>
