<div id="<%= dom_id repair %>">
  <p>
    <strong>Item:</strong>
    <%= repair.item_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= repair.customer.customer_name %>
  </p>

  <p>
    <strong>Repair date:</strong>
    <%= repair.repair_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= repair.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= repair.price %>
  </p>

  <p>
    <strong>Payment status:</strong>
    <%= repair.payment_status %>
  </p>

</div>
