<%= form_with(model: instrument) do |form| %>
  <% if instrument.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
        <% instrument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :instrument_name, style: "display: block" %>
    <%= form.textarea :instrument_name %>
  </div>

  <div>
    <%= form.label :manufacturer_id, style: "display: block" %>
    <%= form.collection_select :manufacturer_id,
                  @manufacturers,
                  :id,
                  :manufacturer_name,
                  prompt: "Select a manufacturer" %>  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select :category_id,
                  @categories,
                  :id,
                  :category_name,
                  prompt: "Select a category" %>  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
