<p style="color: green"><%= notice %></p>

<% content_for :title, "Instruments" %>

<h1>Instruments</h1>

<div id="instruments">
  <% @instruments.each do |instrument| %>
    <%= render instrument %>
    <p>
      <% if policy(instrument).show? %>
        <%= link_to "Show", instrument_path(instrument), class: "adminbutton" %>
      <% end %>
      <%= link_to "Shop #{instrument.instrument_name}s", items_path(instrument_id: instrument.id), class: "button" %>
    </p>
    <hr>
  <% end %>
</div>

<% if policy(@instruments).create? %>
  <%= link_to "New instrument", new_instrument_path, class: "adminbutton" %>
<% end %>
