<p style="color: green"><%= notice %></p>

<% content_for :title, "Manufacturers" %>

<h1>Manufacturers</h1>

<div id="manufacturers">
  <% @manufacturers.each do |manufacturer| %>
    <%= render manufacturer %>
    <p>
      <% if policy(manufacturer).show? %>
        <%= link_to "Show", manufacturer_path(manufacturer), class: "adminbutton" %>
      <% end %>
      <%= link_to "Show #{manufacturer.manufacturer_name} instruments", items_path(manufacturer_id: manufacturer.id), class: "button" %>
    </p>
    <hr>
  <% end %>
</div>

<% if policy(@manufacturers).create? %>
  <%= link_to "New manufacturer", new_manufacturer_path, class: "adminbutton" %>
<% end %>